# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Django
db.sqlite3
*.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env
.env.*


# VS Code / IDE
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Build / distributions
build/
dist/
*.egg-info/
.eggs/

# Node (si algún día usas)
node_modules/

# Coverage / tests
.coverage
htmlcov/
.pytest_cache/
