{% extends "inventory/base_inventory.html" %}

{% block page_title %}Delete Batch{% endblock page_title %}

{% block inventory_content %}
<div class="card">
  <div class="card-body">
    <p>Are you sure you want to delete "<strong>{{ object }}</strong>"?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Confirm</button>
      <a href="{% url 'inventory:batch_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>
{% endblock inventory_content %}
